<div class="app_page_header">
  <%=render(:partial=>page.header.path)%>
</div>

<div class="app_page_body">
  <div class="app_page_left">
    <%=render(:partial=>page.left.path, :locals=>page.left.locals) if page.left? %>
  </div>
  <div class="app_page_main">
    <%=render(:partial=>page.top.path, :locals=>page.top.locals) if page.top? %>
    <%=render(:partial=>page.main.path)%>
    <%=render(:partial=>page.bottom.path, :locals=>page.bottom.locals) if page.bottom? %>
  </div>
  <div class="app_page_right">
    <%=render(:partial=>page.right.path, :locals=>page.right.locals) if page.right? %>
  </div>
</div>

<div class="app_page_footer">
  <%=render(:partial=>page.footer.path)%>
</div>
